astropy==2.0.2
backports.functools-lru-cache==1.4
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
client==0.0.1
cycler==0.10.0
idna==2.6
matplotlib==2.1.0
numpy==1.13.3
pandas==0.21.0
py==1.4.34
pyparsing==2.2.0
pytest==3.2.3
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
scipy==1.0.0
six==1.11.0
subprocess32==3.2.7
suds==1.0.0
sunpy==0.8.2
urllib3==1.22
